################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/src/MCI_Common/.vs/MCI_Common/v15/Server/sqlite3/db.lock
/src/MCI_Common/.vs/MCI_Common/v14/.suo
